/*
Colors:
    verd: #8ec099
    verd clar: #c6e2c9
    gris: #383732
*/


@font-face {
    font-family: Druk-Medium;
    src:url('/tfg/tortugues-runners-web/assets/fonts/DrukTextWide-Medium-Trial.woff2');;
   }

   @font-face {
    font-family: Apple;
    src:url('/tfg/tortugues-runners-web/assets/fonts/System San Francisco Display Regular.ttf');;
   }


* {
    margin: 0;
    padding: 0;
    font-family: 'Apple', Arial, Helvetica, sans-serif; 
    color: #383732;
}

body {
display: flex;
flex-direction: column; 
height: 100%;
   min-height: 100vh;
}

footer {
    background-color: #f1bf6a;
    width: 100%;
    text-align: center;
    height: 100px;
    margin-top: 101px;
}

main { 
    background-color: #ffffff;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.font-druk-medium {
    font-family: 'Druk-Medium',Arial, Helvetica, sans-serif;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.menu-inicial {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(56, 55, 50, 0);
    color: #ffffff !important;
    padding: 7px 50px;
    width: auto;
    justify-self: center;
    border-radius: 50px;
    /* margin-top: 10px; */
    z-index: 10;
    width: 100%;
    transition: background-color 0.3s ease; 
    
}


@keyframes transparent-to-black {
    0% {
        background-color: rgba(56, 55, 50, 0);
    }

    100% {
        background-color: #383732; 

    }
}

.menu-inicial.scrolled {
    background-color: #383732;  /* Color del header quan es fa  scroll */
}




.menu-inicial a, .menu-inicial p {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Druk-Medium',Arial, Helvetica, sans-serif;
}

.background-img {
    width: 100%;
    height: 100vH;
    background-image: url('../assets/imgs/quedada-tortugues.jpeg');
    background-size: cover; /*Asegura que l'imatge ocupta tot el contenidor */
    background-repeat: no-repeat; /*Evita la repetició de l'imatge*/
    position: relative;
   
}

.background-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa negra con 50% de opacidad */
}

#qui-som {
    background-color: rgba(207, 228, 202, 0.4);
    /* align-self: center; */
    padding: 20px 50px  120px 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra para efecto 3D */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#qui-som h2 {
    text-align: center;
    font-size: 45px;
}

#qui-som hr {
    width: 60%;
    align-self: center;
    height: 3px;
    background-color: #383732;
    margin-bottom: 55px;
}

.contenedor-qui-som {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.div-imatge-qui-som {
    height: 700px;
    width: 1000px;
}

.div-imatge-qui-som img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.qui-som-text  {
     width: 100%; 
    padding: 0px 25px;
   font-size: 18px;
   display: flex;
    flex-direction: column;
    gap: 10px;
}



.qui-som-text  span {
    font-weight: bold;
}

.slider {
    /* aspect-ratio: 10 / 16; */
    width: 500px;
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Hace que las etapas se ajusten al scroll */
    gap: 15px; /* Espacio entre etapas */
    padding: 10px; /* Espacio interno */
    user-select: none;
    cursor: grab;
    scrollbar-width: none; /*Ocultar barra scroll a Firebox */
    scroll-behavior: smooth; /* Hace el scroll más fluido */
    transition: transform 0.2s ease-out; /* Agrega suavidad al movimiento */

}

.slider::-webkit-scrollbar {
    display: none; /* Ocultar en Chrome, Safari y Edge */
}

#volta-menorca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 30px;
}

.contenedor-text-volta-menorca {
    width: 90vW;
    background-color: #383732;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.contenedor-text-volta-menorca h2 {
    font-size: 45px;
    color: #ffffff;
}

.contenedor-text-volta-menorca h3 {
    font-size: 30px;
    font-style:italic ;
    color: #ffffff;

}

#volta-menorca .etapa {
    flex: 0 0 90%;

    object-fit: cover;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra para efecto 3D */
    border-radius:20px;
    width: 100%;
    height: 300px;
    /* background-color: #8ec099; */
    padding: 15px;
    align-items: center;
    /* color: #fffcfa; */
    color: #8ec099;
    gap: 25px;

}

#volta-menorca .info-etapa {
   text-align: center;
    width: 100%;
    color: #8ec099;
}



#volta-menorca .detalls-etapa {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

#volta-menorca .detall-etapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 15px;
}

#volta-menorca P  {
    color: #383732;
    font-weight: bold;
}

.ubicacio-etapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.ubicacio-etapa i {
    color: #8ec099;
}

.foots-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.detall-etapa .font-awesome-icon {
    font-size: 55px;
    color: #8ec099;
}

.etapa .mes-info {
    background-color: #8ec099;
    ;
    color: #383732;
    padding: 10px;
    border-radius: 6px;
    width: 125px;
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra para efecto 3D */
}

.etapa .mes-info:hover {
    cursor: pointer;
}



.nav-btn {
    background-color: #ddd;
    border: none;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.nav-btn.active {
    background-color: #383732;
    color: white;
}

.div-podcast {
    background-image: url('../assets/imgs/logo.png'); 
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinear els controles baix */
    align-items: center;
    width: 1200px;
    height: 400px; 
    position: relative;
    margin-right: 35px;
}

.audio-wrapper {
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: center;
} 

.contenedor-podcast {
    margin-top: 100px;
    flex-direction: row-reverse;
    padding: 0px 30px;
}


.podcast-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.podcast-text div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;

}

.podcast-text h3 {
    font-size: 30px;
}


/* CSS de la tenda*/
.tenda {
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 100%;
   width: 100%;
   margin-top: 50px;

}



.section-articles-tenda {
    display: grid;
    grid-template-columns: auto auto auto;
    
    gap: 50px;
    padding: 20px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height:350px;
}

.article div {
    padding: 0px  10px 15px 10px ;
}

.preu {
    font-weight: bold;
}

.article img {
    height: 300px;
    border-radius: 10px;
    align-self: center;
}

